.user {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: 8rem;
}

.user__presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user__hello {
  font-size: 48px;
}

.user__firstName {
  color: red;
}

.user__congratulation {
  margin-left: 0.25%;
}

.user__chartsDown {
  /* width: 835px; */
  height: 263px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.user__data {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.part__left {
  width: 68%;
}

.part__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  margin-top: 6.2rem;
}

@media screen and (max-width: 1025px) {
  .user {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 6rem;
  }

  .part__right {
    height: 89vh;
  }
}
