.timeline {
  position: relative;
  /* width: 16rem; */
  background-color: red;
  border-radius: 5px;
  overflow: hidden;
}

.timeline__title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 147px;
  color: white;
  opacity: 0.5;
  font-size: 15px;
  line-height: 24px;
}

.custom__tooltip {
  background-color: white;
  color: black;
  padding: 0.5rem;
}
